# dependencies
node_modules/

# build
dist/

# logs
logs
*.log
npm-debug.log*

# env
.env
.env.*
!.env.example

# coverage
coverage/

# typescript
*.tsbuildinfo

# cache
.eslintcache
.cache
.parcel-cache

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
